/*
    Green: #3bddbb
    Yellow: #d4af37
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* MAIN */
html, body {
    background-color: darkgrey;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.content {
    margin: 2rem auto;
    width: 8.5in;
}

h1, h2, h3 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    line-height: 3.6rem;
    margin: 0;
}



/* PAGE */
.page {
    background-color: white;
    border-left: 1rem solid #d4af37;
    border-bottom: 1rem solid #3bddbb;
    display: grid;
    height: 11in;
    padding: 2rem;
    width: 100%;
}

.page--one {
    grid-template-areas: 'contact recognition'
                         'experience experience';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    margin-bottom: 2rem;
}

.section {
    padding: 1rem 1rem 0;
}



/* PAGE ONE ITEMS */
.contact {
    /* background-color: blue; */
    grid-area: contact;
}

.contact p {
    margin-top: 1rem;
}

.recognition {
    /* background-color: pink; */
    grid-area: recognition;
}

.experience {
    /* background-color: orange;    */
    grid-area: experience;
}



/* PAGE TWO ITEMS */



/* TITLES */
.title {
    margin: 1rem 0.4rem 0.4rem 1.4rem;
}

.sub-title {
    font-size: 0.8rem;
    margin: 0.4rem 0.4rem 0.4rem 1.4rem;
}

.profession--title {
    margin: 0.8rem 0.4rem;
}



/* DESCRIPTIONS */
.description {
    margin: 0.4rem 0.4rem 0.4rem 2.8rem;
}

.description--block p,
.description--block ul li {
    line-height: 1.3rem;
}

.description--block p {
    margin: 0.4rem 0.4rem 0.4rem 2.8rem;
}

.description--block ul {
    margin: 0;
    padding-left: 4.2rem;
}

.description--block ul li {
    margin: 0.2rem 0;
}

.description--block p b,
.description--block ul li b {
    font-size: 1.2rem;
}

.description--block p.title {
    text-decoration: underline;
}

.contact--info {
    font-size: 0.9rem;
    margin: 0.6rem 0.4rem;
}

.contact--block ul {
    padding-left: 1.2rem;
}



/* TITLE BANNERS */
.title-banner {
    background-color: #3bddbb;
    border-radius: 0.4rem;
    color: white;
    padding: 0.6rem 1.5rem 0.6rem 3rem;
    position: relative;
    text-transform: uppercase;
    width: fit-content;
}

.title-banner::before {
    content: '';
    border: 0.3rem solid #d4af37;
    border-radius: 0.2rem;
    border-right: none;
    height: 2.9rem;
    left: 1.5rem;
    margin-bottom: 1rem;
    position: absolute;
    top: -0.3rem;
    width: 1.5rem;
}

.title-banner h2 {
    margin :0;
}
